<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgba(3, 0, 0, 0.24)!important;">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click) = "goToHome()" style="cursor: pointer;">{{'header.home' | translate}} <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0" style="margin-left: 10rem" >
        <div class="input-group">
        <div class="input-group-prepend">
        <select class="input-group-text" [(ngModel)] = "category" name = "category" (change) = "filter()" name="category_name">
          <option value="All" selected>All</option>
          <option value="Clothing">Clothing</option>
          <option value="Electronics">Electronics</option>
          <option value="Accessories">Accessories</option>
        </select>
        <input class="form-control mr-sm-2" type="search" [(ngModel)] = "searchString" name = "searchString" placeholder="{{'header.search' | translate}}" aria-label="Search" (keyup) = "buttonEnable()">
      </div>
    </div>
        <button class="btn btn-outline-success my-2 my-sm-0" (click) = "search()" type="submit" [disabled] = "!buttonEnableFlag">{{'header.search' | translate}}</button>
      </form>
        <ul class="navbar-nav ml-auto">
          <li  class="nav-item" style="font-size: 30px; margin-right: 35px; cursor: pointer;">
          <i class="fa fa-shopping-cart" (click) = "goToCart()" aria-hidden="false"></i><span><b *ngIf = "cartSize != 0" style="margin-left: 3px; font-size: 20px;">{{cartSize}}</b></span>
        </li>
          <li *ngIf = "!isLoggedIn" class="nav-item">
            <a class="nav-link active" routerLinkActive="active" (click) = "login()" style="cursor: pointer;" >{{'header.login' | translate}}</a>
          </li>

          <li *ngIf = "isLoggedIn" class="nav-item">
            <a class="nav-link active" routerLinkActive="active" (click) = "logout()"  style="cursor: pointer;">{{'header.logout' | translate}}</a>
          </li>
          <li class="nav-item dropdown" style="margin-top: 5px;">
            <select class="dropdown-item" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" #langSelect (change) = "translate.use(langSelect.value)">
            
              <option *ngFor = "let lang of translate.getLangs()" [value] = "lang" [selected] = "translate.getDefaultLang() == lang" >{{lang}}</option>
            </select>
          </li>
        </ul>
        
    </div>
    
  </nav>